a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    margin: 10px
}
.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Login{
    position: absolute;
    top:0;
    right: 0;
    padding: 5px;
}